<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">

	<select id="listEmpno" resultType="String">
		select empno from emp
	</select>

	<select id="empList" parameterType="String"
		resultType="spring.emp.EmpData">
		select * from emp
		where empno = #{empno}
	</select>
</mapper>
