<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myMem">
<!--
<insert id="insert" parameterType="spring.upload.fileData">
 insert into fileData values
(#{sno),#{orig_name},#{sys_name},#{f_size},#{regdate})
</insert> -->

</mapper>